<div class="container-fluid">
  <button ng-click = 'watchTogetherEmail()' name="button">EMAIL</button>
  <form ng-submit='search()' >
    <div class="search">
  <input ng-model="title" type="text" placeholder="Title">
  <label for="movie">Movie</label>
  <input type="radio" name="mediaType" value="movie" checked>
  <label for="tv">TV Show</label>
  <input type="radio" name="mediaType" value="tv">
  </form>
  </div>
  <div class="container-fluid">
            <div class='flick-display col-md-4' ng-mouseover='showInfo($index)' ng-repeat='flick in flix' >
                    <div class="info " ng-if ="flick.info">
                      Name : {{flick.title}}
                      <br>
                      date : {{flick.release_date}}
                      <br>
                      language : {{flick.original_language}}
                      <br>
                      <a href='{{flick.netflixLink}}' target="_blank">
                        <img ng-if ="flick.netflix" src="../images/netflixlogo.png" alt="avalible on netflix" >
                      </a>
                      <img ng-if='flick.favorite === false' ng-click='favorite($index)' src="../images/emptyHeart.png" alt="">
                      <br>
                      <img ng-if='flick.favorite' ng-click='unfavorite($index)' src="../images/loveHeart.png" alt="">
                      <form ng-submit='watchTogetherEmail($index)' class="emailIn">
                        <label for="watchWith">Watch this movie with</label>
                        <input type="email" class="form-control" id="watchWith$index" aria-describedby="emailHelp" placeholder="Enter email">
                      </form>
                        </div>
                      <img class='poster' ng-src="{{flick.poster}}" alt="poster" ng-if ="flick.info === false" />

          </div>

</div>

</div>
