<div class="container-fluid">
  <form>
    <div class="search">
  <input ng-model="title" type="text" placeholder="Title">
  <label for="movie">Movie</label>
  <input type="radio" name="mediaType" value="movie" checked>
  <label for="tv">TV Show</label>
  <input type="radio" name="mediaType" value="tv">
  <button type="button" name="search" ng-click="search()"> Search </button>
  </form>
  </div>
  <div class="container-fluid">
            <button class='flick-display' type="button" name="button" ng-mouseover='showInfo($index)' ng-repeat='flick in flix' >
                    <div class="info " ng-if ="flick.info">
                      Name : {{flick.title}}
                      date : {{flick.release_date}}
                      language : {{flick.original_language}}
                      <img ng-if ="flick.netflix" src="../images/netflixlogo.png" alt="avalible on netflix">
                    </div>
                  <img class='poster' ng-src="{{flick.poster}}" alt="poster" ng-if ="flick.viewPoster" />
          </button>

</div>

</div>
