<div class="container-fluid">
  <div class="selected-info">
      <img class='selectedPoster'  ng-src="{{selectedFlick.poster}}" alt="movie poster">
      <br>
      <br>
      <br>
      <br>
      <br>
      <p class='selected-text' >{{selectedFlick.overview}}</p>
      <form ng-submit='watchTogetherEmail($index)' class="emailIn">
        <label for="watchWith">Watch this movie with</label>
        <input class="emailIn" type="email" class="form-control" id="watchWith$index" aria-describedby="emailHelp" placeholder="Enter email">
      </form>
    </div>
</div>
