<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VividCortex reCaptcha Directive Example</title>
        <meta charset="utf-8">
        <meta name="google-signin-client_id" content="642536861020-70215a1593j5kvj1s15oukftjt7n5dgu.apps.googleusercontent.com">
        <title>TogetherFlix</title>
        <link rel="stylesheet" href="../vendors/bootstrap.min.css">
        <link rel="stylesheet" href="../vendors/sweetalert-master/dist/sweetalert.css">
        <link rel="stylesheet" href="../css/master.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="../vendors/sweetalert-master/dist/sweetalert.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async></script>
        <script src="../vendors/angular.js" charset="utf-8"></script>
        <script src="../vendors/angular-recaptcha/release/angular-recaptcha.js" charset="utf-8"></script>
        <script src="../vendors/angular-route.min.js" charset="utf-8"></script>
        <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
        <script src="../scripts/client.js" charset="utf-8"></script>

        <!-- define your app and make it depend on vcRecaptcha module -->
        <script>
            var app = angular.module('testApp', ['vcRecaptcha']);
            app.controller('testCtrl', function ($scope, vcRecaptchaService) {
                console.log("this is your app's controller");
                $scope.response = null;
                $scope.widgetId = null;
                $scope.model = {
                    key: "'6Ld4gxMUAAAAAASHnclfSWBIZK0ZdLCxorB4Y_vr'"
                };
                $scope.setResponse = function (response) {
                    console.info('Response available');
                    $scope.response = response;
                };
                $scope.setWidgetId = function (widgetId) {
                    console.info('Created widget ID: %s', widgetId);
                    $scope.widgetId = widgetId;
                };
                $scope.cbExpiration = function() {
                    console.info('Captcha expired. Resetting response object');
                    vcRecaptchaService.reload($scope.widgetId);
                    $scope.response = null;
                 };
                $scope.submit = function () {
                    var valid;
                    /**
                     * SERVER SIDE VALIDATION
                     *
                     * You need to implement your server side validation here.
                     * Send the reCaptcha response to the server and use some of the server side APIs to validate it
                     * See https://developers.google.com/recaptcha/docs/verify
                     */
                    console.log('sending the captcha response to the server', $scope.response);
                    if (valid) {
                        console.log('Success');
                    } else {
                        console.log('Failed validation');
                        // In case of a failed validation you need to reload the captcha
                        // because each response can be checked just once
                        vcRecaptchaService.reload($scope.widgetId);
                    }
                };
            });
        </script>

    </head>
    <body>
    <div class="container" ng-app="testApp" ng-controller="testCtrl">

        <h1>VividCortex reCaptcha Directive Example</h1>
        <p>
            This the <b>recommended</b> way of using the reCaptcha directive.
            Instead of using ng-model to get the challenge and response, you use a service.
            This way it's safer because we don't depend on a timeout hack that we are currently using in the directive.
        </p>

        <!-- Call a method in the scope of your controller to handle data submit -->
        <form ng-submit="submit()">
            <div
                vc-recaptcha
                theme="'light'"
                key="'6Ld4gxMUAAAAAASHnclfSWBIZK0ZdLCxorB4Y_vr'"
                on-create="setWidgetId(widgetId)"
                on-success="setResponse(response)"
                on-expire="cbExpiration()"
            ></div>
            <button class="btn" type="submit">Submit</button>
        </form>

    </div>
    </body>
</html>
