h1{
  font-family: Arial Black;
  color: red;
}
.ng-hide.ng-hide-animate {
    display: none !important;
}

body {
    text-align: center;
}

input[type=radio], input.radio {
    clear: none;
    margin: 2px 0 0 2px;
    display: inline;
}

ul {
    list-style-type: none;
}
li{
  display: inline;
}

.search {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#input_text {
    width: 300px;
}

.flick-display {
    width: 225px;
    height: 339px;
    margin: 25px;
    padding: 0px;
    border: 0px;
    display: inline;
    /*position: static;
    */
}

.poster {
  display: block;
  max-height: 100%;
  max-width: 100%;
    margin: 0px;
    border: 1px;
    padding: 0px;
    border-color: grey;
}

.info {
  display: block;
  max-height: 100%;
  max-width: 100%;
    margin: 0px;
    border: 1px;
    padding: 0px;
    border-color: fixed;
}

.logIn{
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border-width: medium;
  border-style: solid;
  border-color: red;
  text-align: left;
  display: inline;
  float: left;
  padding: 20px;
}
