body {
    text-align: center;
}

input.radio,
input[type=radio] {
    clear: none;
    margin: 2px 0 0 2px;
    display: inline;
}

.search {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#input_text {
    width: 300px;
}

.poster {
    display: inline;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    float: left;
    border: 10px;
}

.info {
    display: block;
    height: 90%;
    width: 100%;
    padding: 5%;
    outline: 2px solid #ccc;
    outline-offset: -1px;
    -moz-outline-radius: 10px;
    -webkit-outline-radius: 10px;
}

.logIn {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    display: inline;
    float: left;
    padding: 20px;
}

.flick-display {
    width: 225px;
    height: 339px;
}

a:hover {
    text-decoration: none;
}

.selected-info {
    display: inline;
    max-height: 500px;
}

.selectedPoster {
    display: inline;
    max-width: 35%;
    margin: 0;
    border: 0;
    padding: 0% 15% 0% 0% ;
    float: left;
}

.selected-text {
  position: static;
  padding: 0% 30% 0% 0% ;
}

.emailIn{
  display: inline;
  width: 250px;
  text-align: center;
  margin-right: 40%;
}

.logo{
  width: 300px;
  height: auto;
}

////////////////////////// NAV BAR\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.navbar-default {
  background-color: #e74c3c;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #000000;
  }
}
