body {
  text-align: center;
}

input.radio,
input[type=radio] {
  clear: none;
  margin: 2px 0 0 2px;
  display: inline;
}

.search {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#input_text {
  width: 300px;
}

.poster {
  display: inline;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  float: left;
  border: 10px;
}

.info {
  display: block;
  height: 90%;
  width: 100%;
  padding: 5%;
  outline: 2px solid #ccc;
  outline-offset: -1px;
  -moz-outline-radius: 10px;
  -webkit-outline-radius: 10px;
}

.logIn {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  display: inline;
  float: left;
  padding: 20px;
}

.flick-display {
  width: 225px;
  height: 339px;
}

a:hover {
  text-decoration: none;
}

.selected-info {
  display: inline;
  max-height: 500px;
}

.selectedPoster {
  display: block;
  max-width: 35%;
  margin: 0;
  border: 0;
  padding: 0% 15% 0% 0% ;
  float: left;
}

.selected-text {
  text-align: left;
}

.g-recaptcha {
  display: inline-block;
}

.emailIn{
  display: block;;
  width: 250px;
  text-align: center;
  margin:0 auto;
}

.logo{
  width: 300px;
  height: auto;
}

.inform{
  float: right;
  display: block;
}

.friends-list{
  outline: 2px solid #ccc;
  outline-offset: -1px;
  -moz-outline-radius: 10px;
  -webkit-outline-radius: 10px;
}

.rating{
  padding: o;
  margin: 0;

  width: 50px;
  display: inline;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  height: 4em;
}

#TMDB #netflixroulette{
  display: inline;
}

#sign-out-button{
height: 5px;
}
ul{
  color: red;
}

/*/////////////////////////////////NAV BAR\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.navbar-default {
  background-color: #eaeaea;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #f90000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b6b6b6;
}
.navbar-default .navbar-text {
  color: #f90000;
}
.navbar-default .navbar-nav > li > a {
  color: #f90000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: black;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b6b6b6;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b6b6b6;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f90000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f90000;
}
.navbar-default .navbar-link {
  color: #f90000;
}
.navbar-default .navbar-link:hover {
  color: #b6b6b6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f90000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b6b6b6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b6b6b6;
    background-color: #000000;
  }
}
